:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
 
  color-scheme: light dark;
  color: rgba(28, 28, 28, 0.87);
  background-color: #ededed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 * {
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #74dd50;
}
#app {
 
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
body {
  margin: 0;
  display: flex;
 max-width: 100%;
  min-width: 320px;
  min-height: 100vh;
}
section{
  padding: 0 clamp(16px, 8vw , 120px);
}
h1,h2,h3,h4,h5,h6 {
  
  margin: 0;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
/* Buttons */
.btn-primary{
  background-color: #2a6a15;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 8px;
  width: fit-content ;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


/* Cards  */
.card-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 24px 0px;
  color: #215310; 
}

.card {
  padding: 2em;
}
/* Img */
.planta-image{
  max-width: 600px;
  border-radius: 32px;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
